[
  { mondemand_server,
    [
      % LWES address and port to listen on, if UDP use address "0.0.0.0"
      { listener, {"0.0.0.0",20402} },

      % dispatch list, each event listed is sent to the list of modules
      { dispatch,
        [
          { "MonDemand::TraceMsg", [ mondemand_backend_trace_couchdb ] }
        ]
      },

      { mondemand_backend_trace_couchdb,
        [
          { couch, {"localhost", 5984, "admin", "pAssw0rd"} }
        ]
      }
    ]
  }
].
