[
  { mondemand_server,
    [
      % LWES address and port to listen on, if UDP use address "0.0.0.0"
      { listener, {"0.0.0.0",20402} },

      % dispatch list, each event listed is sent to the list of modules
      { dispatch,
        [
          { "MonDemand::TraceMsg", [ mondemand_backend_trace_couchdb ] }
        ]
      },

      % config for web server
      { web,
        [ { ip, "0.0.0.0" }, % bind to all interfaces
          { port, 20602 },   % port to bind on
          { log_dir, "/tmp/data/httpd/logs" },
          { dispatch,
            [
              { ["data", '*'],
                mondemand_server_fs_resource, [ {root, "/tmp/data"} ] }
            ]
          }
        ]
      },

      { mondemand_backend_trace_couchdb,
        [
          { couch, {"localhost", 5984, "admin", "pAssw0rd"} }
        ]
      }
    ]
  }
].
